In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(lst)
print(type(lst))
tup=tuple()
print(tup)
print(type(tup))

[]
<class 'list'>
()
<class 'tuple'>

In [13]:
num=([1,2,3,4,5])  #List
num
print(type(num))

<class 'list'>

In [5]:
# List
list((1,2,2,3,4))

[1, 2, 2, 3, 4]

In [12]:
# Mixed tuple
mixed_tuple=(1,2,"vishal",2.1,True)
mixed_tuple

(1, 2, 'vishal', 2.1, True)

In [15]:
num=(1,2,3,4)

## Tuples Operations

In [16]:
# Tuples Operations
concatenation= num +mixed_tuple
print(concatenation)

(1, 2, 3, 4, 1, 2, 'vishal', 2.1, True)

In [17]:
mixed_tuple*3

(1,
 2,
 'vishal',
 2.1,
 True,
 1,
 2,
 'vishal',
 2.1,
 True,
 1,
 2,
 'vishal',
 2.1,
 True)

## Imutable Nature of Tuples

In [19]:
# Immutable 
# Tuples are immutables , meaning therir elements cannot be changed once assigned.
lst=[1,2,3,4,5]
print(lst)

lst[1]="Vishal"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Vishal', 3, 4, 5]

In [21]:
num[1]="vishal"

TypeError: 'tuple' object does not support item assignment

## Tuples Methods

In [27]:
print(num.count(1))
print(num.index(4))

1
3

## Packing and Unpacking Tuples

In [ ]:
packed_tuple=1,"vishal",3.5 # Packing
print(packed_tuple)
print((type(packed_tuple)))

(1, 'vishal', 3.5)
<class 'tuple'>

In [42]:
p_t=1,2
print(type(p_t))

<class 'tuple'>

In [45]:
# Unpacking Tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)
print(type(packed_tuple))
packed_tuple

1
vishal
3.5
<class 'tuple'>

(1, 'vishal', 3.5)

## Unpacking with *

In [51]:
number=(1,2,3,4,5,6)
first,*middle,last=number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

## Nested Tuple

In [59]:
#  Nested Tuples
# Nested List
lst=[[1,2,3],[5,6,7],[8,9.2,"vishal"]]
lst[1]
lst[2]
lst[0][0:2]

[1, 2]

In [61]:
# Nested tupple
n_t=((1,2,3,4),(655.54,34.3,34),("vishal",34.43))
n_t[2]

('vishal', 34.43)